<section class="container-fluid pt-5 pb-2 px-5 mt-5">

    <div class="p-3 rounded-pill" style="background-color: #fcfcfce8">

        <div class="pr-3 pl-3">
            <div class=" py-2 row bg-info text-white align-items-center rounded-pill border border-dark">
                <div class="col-12 col-sm-6 text-center text-sm-left">
                    <h3 class="mb-0">Orders</h3>
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-right">
                    <a class="ml-auto" href="/orders/new"><button type="button" class="btn btn-primary btn-lg rounded-pill">New Order</button></a>
                </div>
            </div>
        </div>

        <div class="card-deck mt-3">

            <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                <img src="/img/gastronomy-01.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Caloric</h5>
                </div>
            </div>

            <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                <img src="/img/gastronomy-02.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Celiac</h5>
                </div>
            </div>

            <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                <img src="/img/gastronomy-03.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ethnic</h5>
                </div>
            </div>

            <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                <img src="/img/gastronomy-04.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Standard</h5>
                </div>
            </div>

            <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                <img src="/img/gastronomy-01.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vegetarian</h5>
                </div>
            </div>

        </div>

    </div>
</section>