<section class="container-fluid pt-5 px-5 mt-5">
    <div class="p-3 rounded-pill" style="background-color: #fcfcfc">

        <div class="bg-info text-white pr-3 pl-3 text-center border border-dark rounded-pill">
            <div class="py-1 align-items-center">
                <h3 class="mb-0">New Order</h3>
            </div>
        </div>

        <div class="form-group mb-0">
            <div class="card-deck mt-3 pr-3 pl-3">

                <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                    <img src="/img/gastronomy-01.png" class="card-img-top" alt="...">
                    <div class="form-group card-body">
                        <h5 class="card-title">Caloric</h5>
                        <input class="text-center" type="number" id="caloric" value="0" min="0" max="1000" step="1" />
                    </div>
                </div>

                <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                    <img src="/img/gastronomy-02.png" class="card-img-top" alt="...">
                    <div class="form-group card-body">
                        <h5 class="card-title">Celiac</h5>
                        <input class="text-center" type="number" id="celiac" value="0" min="0" max="1000" step="1" />
                    </div>
                </div>

                <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                    <img src="/img/gastronomy-03.png" class="card-img-top" alt="...">
                    <div class="form-group card-body">
                        <h5 class="card-title">Ethnic</h5>
                        <input class="text-center" type="number" id="ethnic" value="0" min="0" max="1000" step="1" />
                    </div>
                </div>

                <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                    <img src="/img/gastronomy-04.png" class="card-img-top" alt="...">
                    <div class="form-group card-body">
                        <h5 class="card-title">Standard</h5>
                        <input class="text-center" type="number" id="standard" value="0" min="0" max="1000" step="1" />
                    </div>
                </div>

                <div class="card h-50 text-white bg-info text-center rounded-pill border border-dark">
                    <img src="/img/gastronomy-01.png" class="card-img-top" alt="...">
                    <div class="form-group card-body">
                        <h5 class="card-title">Vegetarian</h5>
                        <input class="text-center" type="number" id="vegetarian" value="0" min="0" max="1000"
                            step="1" />
                    </div>
                </div>
            </div>


            <div class="pr-3 pl-3 mt-3 mb-0">
                <div class="row align-items-center justify-content-md-center bg-info text-white rounded-pill border border-dark text-center">

                    <div class="form-group mb-1 mt-1 col-12 col-sm-2 text-center">
                        <label class="m-0 p-0" for="fordateorder">Order Date:</label>
                    </div>

                    <div class="form-group mb-1 mt-1 col-12 col-sm-3 text-lg-left">
                        <input class="m-0 p-0" type="date" id="date_order" min="2022-01-01" required>
                        <input type="hidden" id="_csrf" value="{{csrfToken}}">
                    </div>

                    <div class=" form-group mb-1 mt-1 col-12 col-sm-3 text-lg-right text-center">
                        <button onclick="newOrder()" class="btn btn-primary  pr-4 pl-4 rounded">Agree</button>
                    </div>

                    <div class=" form-group mb-1 mt-1 col-12 col-sm-2 text-lg-right text-center">
                        <a class="btn btn-primary  pr-4 pl-4 rounded" href="/" role="button">Home</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<script>

    const newOrder = async () => {
        const caloric = $('#caloric').val();
        const celiac = $('#celiac').val();
        const ethnic = $('#ethnic').val();
        const standard = $('#standard').val();
        const vegetarian = $('#vegetarian').val();
        const date_order = $('#date_order').val();
        const _csrf = $('#_csrf').val();
        const payload = { caloric, celiac, ethnic, standard, vegetarian, date_order, _csrf };

        Swal.fire({
            title: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const { data } = await axios.post('/new_order', payload);
                    Swal.fire({
                        position: 'top',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => window.location.href = '/', 1500);
                } catch ({ response }) {
                    const { data: { message } } = response;
                    Swal.fire({
                        position: 'top',
                        icon: 'info',
                        text: message,
                    });
                }
            }
        })
    }

</script>

